<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749666773418-lclmk0odsehacrp62o67mgc7lncv01hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749666773418-lclmk0odsehacrp62o67mgc7lncv01hf</string>
	<key>API_KEY</key>
	<string>AIzaSyC5GK3U4oq7O4sZ691hyzLpp4udQvZK_T0</string>
	<key>GCM_SENDER_ID</key>
	<string>749666773418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>gossip-ce3a2</string>
	<key>STORAGE_BUCKET</key>
	<string>gossip-ce3a2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749666773418:ios:b6248fe9d6e7e80132a3d3</string>
	<key>DATABASE_URL</key>
	<string>https://gossip-ce3a2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>